ProyectoFinal/__pycache__
Examen1/*.class
ProyectoFinal/entorno
ProyectoFinal/.DS_Store
Tareas/*.DS_Store
Tareas/Tarea/a.out
Tareas/Tarea/child
.DS_Store
Tareas/Tarea/id
Tareas/Tarea2/exec
HelloWorld.class
ProyectoFinal/tes*
